{% load static %}
<!DOCTYPE html>
<html>
  <!-- <div style="background-image: url('background.jpg');"> -->
  <head>
    <meta charset="utf-8">
    <title>Deep Logo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'deep/home.css' %}">
    <link rel="stylesheet" href="deep/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class = 'title' >Deep Logo</div>
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
