<!DOCTYPE html>
<html>
  <!-- <div style="background-image: url('background.jpg');"> -->
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="home.css">
    <div class = 'title' >Deep Logo</div>
  </head>
  <script>
    function origincolor(idname){
      document.querySelector(idname).Color = 'black'
      document.querySelector(idname).backgroundColor = 'white'
    }
  </script>
  <body>
    <div class="main">

      <div class="imagebutton">
        <img src="object1.PNG" alt="상표검색시스템" height="150px">
        <img src="object2.PNG" alt="비엔나 코드 추천 시스템" height="150px">
        <img src="object3.PNG" alt="상표 침해 예측 시스템" height="150px">
      </div>

      <input id="search" type="button" value="상표검색시스템" onclick="
        this.style.color = 'white'
        this.style.backgroundColor = 'black'
        window.location = 'ui2.html'
      ">

      <input id="recommend" type="button" value="비엔나 코드 추천 시스템" onclick="
        this.style.color = 'white'
        this.style.backgroundColor = 'black'
        window.location = 'ui3.html'
      ">

      <input id="predict" type="button" value="상표 침해 예측 시스템" onclick="
        this.style.color = 'white'
        this.style.backgroundColor = 'black'
        window.location = 'ui4.html'
      ">


    </div>
  </body>
</html>
