<!DOCTYPE html>
<html>
  <!-- <div style="background-image: url('background.jpg');"> -->
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class = 'title' >상표 침해 예측 시스템</div> 
  </head>
  <body>
    <button class="btn"><i class="fa fa-home" onclick="window.location='home.html'"></i></button>

    <span class="control-fileupload">
      <label for="fileInput">Choose a file :</label>
      <input type="file" id="fileInput">
    </span>

    <input id="search" type="button" value="상표검색시스템" onclick="
      this.style.color = 'blue'
      this.style.backgroundColor = 'black'
      window.location = 'ui2.html'
    ">

    <input id="recommend" type="button" value="비엔나 코드 추천 시스템" onclick="
      this.style.color = 'blue'
      this.style.backgroundColor = 'black'
      window.location = 'ui3.html'
    ">

    <input id="predict" type="button" value="상표 침해 예측 시스템" onclick="
      this.style.color = 'blue'
      this.style.backgroundColor = 'black'
      window.location = 'ui4.html'
    ">
    <table>
      <tr>
        <th>이미지</th>
        <th>거절 사유</th>
      </tr>
      <tr>
        <td>미감미감</td>
        <td> 상표 제400360673 (미감 미감)호와 칭호, 관념이 동일 또는 유사한 상표이므로 상표
법 제7조 제1항 제7호에 해당하여 상표등록을 받을 수 없습니다</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>

  </body>
</html>
